@import "tailwindcss";

.navbar-links {
    @apply rounded-lg p-4 w-40 m-2 text-center text-[#f6223d] border-4 border-[#f6223d] hover:opacity-60 transition-all active:opacity-60 transition-all
}

@font-face {
    font-family: 'RustyAttack';
    src: url("./assets/fonts/RustyAttack.otf") format('opentype');
}

@theme {
    --animate-l1: l1 0.3s linear infinite alternate;

    @keyframes l1 {
        to{opacity: 0}
    }
}